*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.title {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.settings {
    width: 100%;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    display: block;
    width: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: lightsalmon;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.active {
    background-color: lightcoral;
}

.choose{ 
    margin-top: 4px;
    padding: 2px;
    border-radius: 3px;
}

button:hover {
    background-color: #444;
}

.size-value {
    font-size: 18px;
    margin-bottom: 10px;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(21, 25px) 1fr 1fr 1fr;
    gap: 1px;
    background-color: white;
    border: 1px solid #ccc;
}

.grid-element {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #f0f0f0;
    transition: background-color 0.2s;
} */

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: rgb(249, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element {
    user-select: none;
}
.grid-element:hover {
    background-color: #ccc;
}